In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/spider/train_spider.json
/kaggle/input/spider/train_others.json
/kaggle/input/spider/dev_gold.sql
/kaggle/input/spider/dev.json
/kaggle/input/spider/README.txt
/kaggle/input/spider/train_gold.sql
/kaggle/input/spider/tables.json
/kaggle/input/spider/spider_data_with_knowledge.json
/kaggle/input/spider/spider/test_database/solvency_ii/solvency_ii.sqlite
/kaggle/input/spider/spider/test_database/solvency_ii/schema.sql
/kaggle/input/spider/spider/test_database/voter_1/voter_1.sqlite
/kaggle/input/spider/spider/test_database/concert_singer/concert_singer.sqlite
/kaggle/input/spider/spider/test_database/concert_singer/schema.sql
/kaggle/input/spider/spider/test_database/apartment_rentals/apartment_rentals.sqlite
/kaggle/input/spider/spider/test_database/apartment_rentals/schema.sql
/kaggle/input/spider/spider/test_database/flight_1/flight_1.sqlite
/kaggle/input/spider/spider/test_database/flight_1/schema.sql
/kaggle/input/spider/spider/test_database/country_language/schema.sql
/kaggle/input/spider/spider/test_database/country_language/country_language.sqlite
/kaggle/input/spider/spider/test_database/gymnast/gymnast.sqlite
/kaggle/input/spider/spider/test_database/gymnast/schema.sql
/kaggle/input/spider/spider/test_database/epinions_1/epinions_1.sqlite
/kaggle/input/spider/spider/test_database/government_shift/government_shift.sqlite
/kaggle/input/spider/spider/test_database/government_shift/schema.sql
/kaggle/input/spider/spider/test_database/customers_and_orders/schema.sql
/kaggle/input/spider/spider/test_database/customers_and_orders/customers_and_orders.sqlite
/kaggle/input/spider/spider/test_database/local_govt_and_lot/local_govt_and_lot.sqlite
/kaggle/input/spider/spider/test_database/local_govt_and_lot/schema.sql
/kaggle/input/spider/spider/test_database/assets_maintenance/assets_maintenance.sqlite
/kaggle/input/spider/spider/test_database/assets_maintenance/schema.sql
/kaggle/input/spider/spider/test_database/customers_and_products_contacts/customers_and_products_contacts.sqlite
/kaggle/input/spider/spider/test_database/customers_and_products_contacts/schema.sql
/kaggle/input/spider/spider/test_database/restaurants/schema.sql
/kaggle/input/spider/spider/test_database/restaurants/restaurants.sqlite
/kaggle/input/spider/spider/test_database/insurance_policies/insurance_policies.sqlite
/kaggle/input/spider/spider/test_database/insurance_policies/schema.sql
/kaggle/input/spider/spider/test_database/local_govt_mdm/local_govt_mdm.sqlite
/kaggle/input/spider/spider/test_database/local_govt_mdm/schema.sql
/kaggle/input/spider/spider/test_database/county_public_safety/county_public_safety.sqlite
/kaggle/input/spider/spider/test_database/county_public_safety/schema.sql
/kaggle/input/spider/spider/test_database/book_1/schema_old.sql
/kaggle/input/spider/spider/test_database/book_1/q.txt
/kaggle/input/spider/spider/test_database/book_1/link.txt
/kaggle/input/spider/spider/test_database/book_1/schema.sql
/kaggle/input/spider/spider/test_database/book_1/annotation.json
/kaggle/input/spider/spider/test_database/book_1/book_1.sqlite
/kaggle/input/spider/spider/test_database/book_1/sql.txt
/kaggle/input/spider/spider/test_database/restaurant_1/schema.sql
/kaggle/input/spider/spider/test_database/restaurant_1/restaurant_1.sqlite
/kaggle/input/spider/spider/test_database/ship_mission/ship_mission.sqlite
/kaggle/input/spider/spider/test_database/ship_mission/schema.sql
/kaggle/input/spider/spider/test_database/culture_company/culture_company.sqlite
/kaggle/input/spider/spider/test_database/culture_company/schema.sql
/kaggle/input/spider/spider/test_database/city_record/city_record.sqlite
/kaggle/input/spider/spider/test_database/city_record/schema.sql
/kaggle/input/spider/spider/test_database/inn_1/q.txt
/kaggle/input/spider/spider/test_database/inn_1/link.txt
/kaggle/input/spider/spider/test_database/inn_1/annotation.json
/kaggle/input/spider/spider/test_database/inn_1/inn_1.sql
/kaggle/input/spider/spider/test_database/inn_1/change_date.py
/kaggle/input/spider/spider/test_database/inn_1/inn_1.sqlite
/kaggle/input/spider/spider/test_database/inn_1/data_csv/Rooms.csv
/kaggle/input/spider/spider/test_database/inn_1/data_csv/README.INN.TXT
/kaggle/input/spider/spider/test_database/inn_1/data_csv/Reservations.csv
/kaggle/input/spider/spider/test_database/inn_1/data_csv/Reservations_t.csv
/kaggle/input/spider/spider/test_database/yelp/schema.sql
/kaggle/input/spider/spider/test_database/yelp/yelp.sqlite
/kaggle/input/spider/spider/test_database/insurance_and_eClaims/schema.sql
/kaggle/input/spider/spider/test_database/insurance_and_eClaims/insurance_and_eClaims.sqlite
/kaggle/input/spider/spider/test_database/tracking_grants_for_research/schema.sql
/kaggle/input/spider/spider/test_database/tracking_grants_for_research/tracking_grants_for_research.sqlite
/kaggle/input/spider/spider/test_database/machine_repair/machine_repair.sqlite
/kaggle/input/spider/spider/test_database/machine_repair/schema.sql
/kaggle/input/spider/spider/test_database/mountain_photos/mountain_photos.sqlite
/kaggle/input/spider/spider/test_database/mountain_photos/schema.sql
/kaggle/input/spider/spider/test_database/storm_record/schema.sql
/kaggle/input/spider/spider/test_database/storm_record/storm_record.sqlite
/kaggle/input/spider/spider/test_database/warehouse_1/q.txt
/kaggle/input/spider/spider/test_database/warehouse_1/link.txt
/kaggle/input/spider/spider/test_database/warehouse_1/schema.sql
/kaggle/input/spider/spider/test_database/warehouse_1/warehouse_1.sqlite
/kaggle/input/spider/spider/test_database/warehouse_1/annotation.json
/kaggle/input/spider/spider/test_database/warehouse_1/sql.txt
/kaggle/input/spider/spider/test_database/wedding/wedding.sqlite
/kaggle/input/spider/spider/test_database/wedding/schema.sql
/kaggle/input/spider/spider/test_database/train_station/schema.sql
/kaggle/input/spider/spider/test_database/train_station/train_station.sqlite
/kaggle/input/spider/spider/test_database/party_host/party_host.sqlite
/kaggle/input/spider/spider/test_database/party_host/schema.sql
/kaggle/input/spider/spider/test_database/csu_1/schema.sql
/kaggle/input/spider/spider/test_database/csu_1/csu_1.sqlite
/kaggle/input/spider/spider/test_database/company_employee/company_employee.sqlite
/kaggle/input/spider/spider/test_database/company_employee/schema.sql
/kaggle/input/spider/spider/test_database/entertainment_awards/schema.sql
/kaggle/input/spider/spider/test_database/entertainment_awards/entertainment_awards.sqlite
/kaggle/input/spider/spider/test_database/manufacturer/manufacturer.sqlite
/kaggle/input/spider/spider/test_database/manufacturer/schema.sql
/kaggle/input/spider/spider/test_database/behavior_monitoring/behavior_monitoring.sqlite
/kaggle/input/spider/spider/test_database/behavior_monitoring/schema.sql
/kaggle/input/spider/spider/test_database/election_representative/election_representative.sqlite
/kaggle/input/spider/spider/test_database/election_representative/schema.sql
/kaggle/input/spider/spider/test_database/orchestra/orchestra.sqlite
/kaggle/input/spider/spider/test_database/orchestra/schema.sql
/kaggle/input/spider/spider/test_database/planet_1/q.txt
/kaggle/input/spider/spider/test_database/planet_1/planet_1.sqlite
/kaggle/input/spider/spider/test_database/planet_1/link.txt
/kaggle/input/spider/spider/test_database/planet_1/schema.sql
/kaggle/input/spider/spider/test_database/planet_1/annotation.json
/kaggle/input/spider/spider/test_database/planet_1/sql.txt
/kaggle/input/spider/spider/test_database/cre_Doc_Template_Mgt/schema.sql
/kaggle/input/spider/spider/test_database/cre_Doc_Template_Mgt/cre_Doc_Template_Mgt.sqlite
/kaggle/input/spider/spider/test_database/driving_school/schema.sql
/kaggle/input/spider/spider/test_database/driving_school/driving_school.sqlite
/kaggle/input/spider/spider/test_database/loan_1/loan_1.sqlite
/kaggle/input/spider/spider/test_database/loan_1/schema.sql
/kaggle/input/spider/spider/test_database/film_rank/film_rank.sqlite
/kaggle/input/spider/spider/test_database/film_rank/schema.sql
/kaggle/input/spider/spider/test_database/pilot_record/pilot_record.sqlite
/kaggle/input/spider/spider/test_database/pilot_record/schema.sql
/kaggle/input/spider/spider/test_database/pilot_1/pilot_1.sqlite
/kaggle/input/spider/spider/test_database/pilot_1/link.txt
/kaggle/input/spider/spider/test_database/pilot_1/schema.sql
/kaggle/input/spider/spider/test_database/pilot_1/sql.txt
/kaggle/input/spider/spider/test_database/network_2/schema.sql
/kaggle/input/spider/spider/test_database/network_2/network_2.sqlite
/kaggle/input/spider/spider/test_database/baseball_1/baseball_1.sqlite
/kaggle/input/spider/spider/test_database/baseball_1/schema.sql
/kaggle/input/spider/spider/test_database/candidate_poll/candidate_poll.sqlite
/kaggle/input/spider/spider/test_database/candidate_poll/schema.sql
/kaggle/input/spider/spider/test_database/scientist_1/schema.sql
/kaggle/input/spider/spider/test_database/scientist_1/scientist_1.sqlite
/kaggle/input/spider/spider/test_database/wrestler/schema.sql
/kaggle/input/spider/spider/test_database/wrestler/wrestler.sqlite
/kaggle/input/spider/spider/test_database/dog_kennels/schema.sql
/kaggle/input/spider/spider/test_database/dog_kennels/dog_kennels.sqlite
/kaggle/input/spider/spider/test_database/customers_campaigns_ecommerce/schema.sql
/kaggle/input/spider/spider/test_database/customers_campaigns_ecommerce/customers_campaigns_ecommerce.sqlite
/kaggle/input/spider/spider/test_database/performance_attendance/performance_attendance.sqlite
/kaggle/input/spider/spider/test_database/performance_attendance/schema.sql
/kaggle/input/spider/spider/test_database/book_review/schema_old.sql
/kaggle/input/spider/spider/test_database/book_review/book_review.sqlite
/kaggle/input/spider/spider/test_database/book_review/schema.sql
/kaggle/input/spider/spider/test_database/online_exams/simple_schema.sql
/kaggle/input/spider/spider/test_database/online_exams/schema.sql
/kaggle/input/spider/spider/test_database/online_exams/online_exams.sqlite
/kaggle/input/spider/spider/test_database/device/device.sqlite
/kaggle/input/spider/spider/test_database/device/schema.sql
/kaggle/input/spider/spider/test_database/course_teach/course_teach.sqlite
/kaggle/input/spider/spider/test_database/course_teach/schema.sql
/kaggle/input/spider/spider/test_database/cre_Students_Information_Systems/cre_Students_Information_Systems.sqlite
/kaggle/input/spider/spider/test_database/cre_Students_Information_Systems/schema.sql
/kaggle/input/spider/spider/test_database/soccer_3/schema.sql
/kaggle/input/spider/spider/test_database/soccer_3/soccer_3.sqlite
/kaggle/input/spider/spider/test_database/gas_company/gas_company.sqlite
/kaggle/input/spider/spider/test_database/gas_company/schema.sql
/kaggle/input/spider/spider/test_database/university_rank/university_rank.sqlite
/kaggle/input/spider/spider/test_database/university_rank/schema.sql
/kaggle/input/spider/spider/test_database/imdb/imdb.sqlite
/kaggle/input/spider/spider/test_database/imdb/schema.sql
/kaggle/input/spider/spider/test_database/twitter_1/twitter_1.sqlite
/kaggle/input/spider/spider/test_database/twitter_1/queries/postgres-dialects.xml
/kaggle/input/spider/spider/test_database/twitter_1/queries/oracle-dialects.xml
/kaggle/input/spider/spider/test_database/twitter_1/queries/sqlserver-dialects.xml
/kaggle/input/spider/spider/test_database/flight_company/flight_company.sqlite
/kaggle/input/spider/spider/test_database/flight_company/schema.sql
/kaggle/input/spider/spider/test_database/hr_1/schema.sql
/kaggle/input/spider/spider/test_database/hr_1/hr_1.sqlite
/kaggle/input/spider/spider/test_database/swimming/swimming.sqlite
/kaggle/input/spider/spider/test_database/swimming/schema.sql
/kaggle/input/spider/spider/test_database/sing_contest/schema_old.sql
/kaggle/input/spider/spider/test_database/sing_contest/sing_contest.sqlite
/kaggle/input/spider/spider/test_database/sing_contest/schema.sql
/kaggle/input/spider/spider/test_database/architecture/architecture.sqlite
/kaggle/input/spider/spider/test_database/architecture/schema.sql
/kaggle/input/spider/spider/test_database/world_1/world_1.json
/kaggle/input/spider/spider/test_database/world_1/world_1.sqlite
/kaggle/input/spider/spider/test_database/bakery_1/bakery_1.sql
/kaggle/input/spider/spider/test_database/bakery_1/q.txt
/kaggle/input/spider/spider/test_database/bakery_1/bakery_1.json
/kaggle/input/spider/spider/test_database/bakery_1/link.txt
/kaggle/input/spider/spider/test_database/bakery_1/bakery_1.sqlite
/kaggle/input/spider/spider/test_database/bakery_1/bakery_1_michi.txt
/kaggle/input/spider/spider/test_database/bakery_1/annotation.json
/kaggle/input/spider/spider/test_database/bakery_1/data_csv/customers_t.csv
/kaggle/input/spider/spider/test_database/bakery_1/data_csv/items.csv
/kaggle/input/spider/spider/test_database/bakery_1/data_csv/receipts_t.csv
/kaggle/input/spider/spider/test_database/bakery_1/data_csv/items_t.csv
/kaggle/input/spider/spider/test_database/bakery_1/data_csv/goods_t.csv
/kaggle/input/spider/spider/test_database/bakery_1/data_csv/items (3_11_18, 5_53 PM)_original.csv
/kaggle/input/spider/spider/test_database/bakery_1/data_csv/customers.csv
/kaggle/input/spider/spider/test_database/bakery_1/data_csv/goods.csv
/kaggle/input/spider/spider/test_database/bakery_1/data_csv/README.BAKERY.TXT
/kaggle/input/spider/spider/test_database/bakery_1/data_csv/receipts.csv
/kaggle/input/spider/spider/test_database/bakery_1/data_csv/receipts (3_11_18, 5_53 PM)_original.csv
/kaggle/input/spider/spider/test_database/cre_Doc_and_collections/schema.sql
/kaggle/input/spider/spider/test_database/cre_Doc_and_collections/cre_Doc_and_collections.sqlite
/kaggle/input/spider/spider/test_database/match_season/schema.sql
/kaggle/input/spider/spider/test_database/match_season/match_season.sqlite
/kaggle/input/spider/spider/test_database/real_estate_rentals/real_estate_rentals.sqlite
/kaggle/input/spider/spider/test_database/real_estate_rentals/schema.sql
/kaggle/input/spider/spider/test_database/soccer_1/soccer_1.sqlite
/kaggle/input/spider/spider/test_database/soccer_1/schema.sql
/kaggle/input/spider/spider/test_database/formula_1/formula_1.splite
/kaggle/input/spider/spider/test_database/formula_1/annotation.json
/kaggle/input/spider/spider/test_database/formula_1/formula_1.sqlite
/kaggle/input/spider/spider/test_database/formula_1/formula_1.sql
/kaggle/input/spider/spider/test_database/formula_1/data_csv/races.csv
/kaggle/input/spider/spider/test_database/formula_1/data_csv/drivers.csv
/kaggle/input/spider/spider/test_database/formula_1/data_csv/constructors.csv
/kaggle/input/spider/spider/test_database/formula_1/data_csv/pitStops.csv
/kaggle/input/spider/spider/test_database/formula_1/data_csv/status.csv
/kaggle/input/spider/spider/test_database/formula_1/data_csv/seasons.csv
/kaggle/input/spider/spider/test_database/formula_1/data_csv/constructorStandings.csv
/kaggle/input/spider/spider/test_database/formula_1/data_csv/driverStandings.csv
/kaggle/input/spider/spider/test_database/formula_1/data_csv/constructorResults.csv
/kaggle/input/spider/spider/test_database/formula_1/data_csv/lapTimes.csv
/kaggle/input/spider/spider/test_database/formula_1/data_csv/results.csv
/kaggle/input/spider/spider/test_database/formula_1/data_csv/circuits.csv
/kaggle/input/spider/spider/test_database/formula_1/data_csv/qualifying.csv
/kaggle/input/spider/spider/test_database/car_1/car_1.json
/kaggle/input/spider/spider/test_database/car_1/q.txt
/kaggle/input/spider/spider/test_database/car_1/car_1.sqlite
/kaggle/input/spider/spider/test_database/car_1/link.txt
/kaggle/input/spider/spider/test_database/car_1/annotation.json
/kaggle/input/spider/spider/test_database/car_1/car_1.sql
/kaggle/input/spider/spider/test_database/car_1/data_csv/countries.csv
/kaggle/input/spider/spider/test_database/car_1/data_csv/cars-data.csv
/kaggle/input/spider/spider/test_database/car_1/data_csv/model-list.csv
/kaggle/input/spider/spider/test_database/car_1/data_csv/continents.csv
/kaggle/input/spider/spider/test_database/car_1/data_csv/car-makers.csv
/kaggle/input/spider/spider/test_database/car_1/data_csv/car-names.csv
/kaggle/input/spider/spider/test_database/car_1/data_csv/cars.desc
/kaggle/input/spider/spider/test_database/car_1/data_csv/README.CARS.TXT
/kaggle/input/spider/spider/test_database/university_basketball/schema.sql
/kaggle/input/spider/spider/test_database/university_basketball/university_basketball.sqlite
/kaggle/input/spider/spider/test_database/body_builder/body_builder.sqlite
/kaggle/input/spider/spider/test_database/body_builder/schema.sql
/kaggle/input/spider/spider/test_database/railway/schema.sql
/kaggle/input/spider/spider/test_database/railway/railway.sqlite
/kaggle/input/spider/spider/test_database/medicine_enzyme_interaction/medicine_enzyme_interaction.sqlite
/kaggle/input/spider/spider/test_database/medicine_enzyme_interaction/schema.sql
/kaggle/input/spider/spider/test_database/tracking_share_transactions/tracking_share_transactions.sqlite
/kaggle/input/spider/spider/test_database/tracking_share_transactions/schema.sql
/kaggle/input/spider/spider/test_database/musical/schema.sql
/kaggle/input/spider/spider/test_database/musical/musical.sqlite
/kaggle/input/spider/spider/test_database/tracking_software_problems/tracking_software_problems.sqlite
/kaggle/input/spider/spider/test_database/tracking_software_problems/schema.sql
/kaggle/input/spider/spider/test_database/academic/academic.sqlite
/kaggle/input/spider/spider/test_database/academic/schema.sql
/kaggle/input/spider/spider/test_database/products_for_hire/schema.sql
/kaggle/input/spider/spider/test_database/products_for_hire/products_for_hire.sqlite
/kaggle/input/spider/spider/test_database/roller_coaster/roller_coaster.sqlite
/kaggle/input/spider/spider/test_database/roller_coaster/schema.sql
/kaggle/input/spider/spider/test_database/conference/conference.sqlite
/kaggle/input/spider/spider/test_database/conference/schema.sql
/kaggle/input/spider/spider/test_database/tvshow/tvshow.sqlite
/kaggle/input/spider/spider/test_database/tvshow/schema.sql
/kaggle/input/spider/spider/test_database/college_3/schema.sql
/kaggle/input/spider/spider/test_database/college_3/college_3.sqlite
/kaggle/input/spider/spider/test_database/headphone_store/headphone_store.sqlite
/kaggle/input/spider/spider/test_database/headphone_store/schema.sql
/kaggle/input/spider/spider/test_database/bbc_channels/bbc_channels.sqlite
/kaggle/input/spider/spider/test_database/bbc_channels/schema.sql
/kaggle/input/spider/spider/test_database/cinema/cinema.sqlite
/kaggle/input/spider/spider/test_database/cinema/schema.sql
/kaggle/input/spider/spider/test_database/college_2/link.txt
/kaggle/input/spider/spider/test_database/college_2/college_2.sqlite
/kaggle/input/spider/spider/test_database/college_2/TextBookExampleSchema.sql
/kaggle/input/spider/spider/test_database/tracking_orders/schema.sql
/kaggle/input/spider/spider/test_database/tracking_orders/tracking_orders.sqlite
/kaggle/input/spider/spider/test_database/school_bus/school_bus.sqlite
/kaggle/input/spider/spider/test_database/school_bus/schema.sql
/kaggle/input/spider/spider/test_database/riding_club/riding_club.sqlite
/kaggle/input/spider/spider/test_database/riding_club/schema.sql
/kaggle/input/spider/spider/test_database/geo/geo.sqlite
/kaggle/input/spider/spider/test_database/geo/schema.sql
/kaggle/input/spider/spider/test_database/bike_1/bike_1.sqlite
/kaggle/input/spider/spider/test_database/bike_1/schema.sql
/kaggle/input/spider/spider/test_database/phone_1/phone_1.sqlite
/kaggle/input/spider/spider/test_database/phone_1/schema.sql
/kaggle/input/spider/spider/test_database/wine_1/q.txt
/kaggle/input/spider/spider/test_database/wine_1/link.txt
/kaggle/input/spider/spider/test_database/wine_1/wine_1.sqlite
/kaggle/input/spider/spider/test_database/wine_1/wine_1.sql
/kaggle/input/spider/spider/test_database/wine_1/annotation.json

In [2]:
!pip install --upgrade modelscope transformers autoawq

Collecting modelscope
  Downloading modelscope-1.14.0-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: transformers in /opt/conda/lib/python3.10/site-packages (4.39.3)
Collecting transformers
  Downloading transformers-4.41.1-py3-none-any.whl.metadata (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 kB 706.7 kB/s eta 0:00:00 0:00:01
Collecting autoawq
  Downloading autoawq-0.2.5-cp310-cp310-manylinux2014_x86_64.whl.metadata (16 kB)
Collecting addict (from modelscope)
  Downloading addict-2.4.0-py3-none-any.whl.metadata (1.0 kB)
Requirement already satisfied: attrs in /opt/conda/lib/python3.10/site-packages (from modelscope) (23.2.0)
Requirement already satisfied: datasets<2.19.0,>=2.16.0 in /opt/conda/lib/python3.10/site-packages (from modelscope) (2.18.0)
Collecting einops (from modelscope)
  Downloading einops-0.8.0-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: filelock>=3.3.0 in /opt/conda/lib/python3.10/site-packages (from modelscope) (3.13.1)
Requirement already satisfied: gast>=0.2.2 in /opt/conda/lib/python3.10/site-packages (from modelscope) (0.5.4)
Requirement already satisfied: huggingface-hub in /opt/conda/lib/python3.10/site-packages (from modelscope) (0.22.2)
Requirement already satisfied: numpy in /opt/conda/lib/python3.10/site-packages (from modelscope) (1.26.4)
Collecting oss2 (from modelscope)
  Downloading oss2-2.18.5.tar.gz (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.4/283.4 kB 2.2 MB/s eta 0:00:00a 0:00:01
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (from modelscope) (2.1.4)
Requirement already satisfied: Pillow>=6.2.0 in /opt/conda/lib/python3.10/site-packages (from modelscope) (9.5.0)
Requirement already satisfied: pyarrow!=9.0.0,>=6.0.0 in /opt/conda/lib/python3.10/site-packages (from modelscope) (15.0.2)
Requirement already satisfied: python-dateutil>=2.1 in /opt/conda/lib/python3.10/site-packages (from modelscope) (2.9.0.post0)
Requirement already satisfied: pyyaml in /opt/conda/lib/python3.10/site-packages (from modelscope) (6.0.1)
Requirement already satisfied: requests>=2.25 in /opt/conda/lib/python3.10/site-packages (from modelscope) (2.31.0)
Requirement already satisfied: scipy in /opt/conda/lib/python3.10/site-packages (from modelscope) (1.11.4)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.10/site-packages (from modelscope) (69.0.3)
Requirement already satisfied: simplejson>=3.3.0 in /opt/conda/lib/python3.10/site-packages (from modelscope) (3.19.2)
Requirement already satisfied: sortedcontainers>=1.5.9 in /opt/conda/lib/python3.10/site-packages (from modelscope) (2.4.0)
Requirement already satisfied: tqdm>=4.64.0 in /opt/conda/lib/python3.10/site-packages (from modelscope) (4.66.1)
Requirement already satisfied: urllib3>=1.26 in /opt/conda/lib/python3.10/site-packages (from modelscope) (1.26.18)
Requirement already satisfied: yapf in /opt/conda/lib/python3.10/site-packages (from modelscope) (0.40.2)
Collecting huggingface-hub (from modelscope)
  Downloading huggingface_hub-0.23.2-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.10/site-packages (from transformers) (21.3)
Requirement already satisfied: regex!=2019.12.17 in /opt/conda/lib/python3.10/site-packages (from transformers) (2023.12.25)
Collecting tokenizers<0.20,>=0.19 (from transformers)
  Downloading tokenizers-0.19.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.7 kB)
Requirement already satisfied: safetensors>=0.4.1 in /opt/conda/lib/python3.10/site-packages (from transformers) (0.4.3)
Requirement already satisfied: torch>=2.0.1 in /opt/conda/lib/python3.10/site-packages (from autoawq) (2.1.2)
Requirement already satisfied: typing-extensions>=4.8.0 in /opt/conda/lib/python3.10/site-packages (from autoawq) (4.9.0)
Requirement already satisfied: accelerate in /opt/conda/lib/python3.10/site-packages (from autoawq) (0.29.3)
Requirement already satisfied: zstandard in /opt/conda/lib/python3.10/site-packages (from autoawq) (0.22.0)
Collecting autoawq-kernels (from autoawq)
  Downloading autoawq_kernels-0.0.6-cp310-cp310-manylinux2014_x86_64.whl.metadata (2.0 kB)
Requirement already satisfied: pyarrow-hotfix in /opt/conda/lib/python3.10/site-packages (from datasets<2.19.0,>=2.16.0->modelscope) (0.6)
Requirement already satisfied: dill<0.3.9,>=0.3.0 in /opt/conda/lib/python3.10/site-packages (from datasets<2.19.0,>=2.16.0->modelscope) (0.3.8)
Requirement already satisfied: xxhash in /opt/conda/lib/python3.10/site-packages (from datasets<2.19.0,>=2.16.0->modelscope) (3.4.1)
Requirement already satisfied: multiprocess in /opt/conda/lib/python3.10/site-packages (from datasets<2.19.0,>=2.16.0->modelscope) (0.70.16)
Requirement already satisfied: fsspec<=2024.2.0,>=2023.1.0 in /opt/conda/lib/python3.10/site-packages (from fsspec[http]<=2024.2.0,>=2023.1.0->datasets<2.19.0,>=2.16.0->modelscope) (2024.2.0)
Requirement already satisfied: aiohttp in /opt/conda/lib/python3.10/site-packages (from datasets<2.19.0,>=2.16.0->modelscope) (3.9.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/conda/lib/python3.10/site-packages (from packaging>=20.0->transformers) (3.1.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.1->modelscope) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.10/site-packages (from requests>=2.25->modelscope) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.10/site-packages (from requests>=2.25->modelscope) (3.6)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.10/site-packages (from requests>=2.25->modelscope) (2024.2.2)
Requirement already satisfied: sympy in /opt/conda/lib/python3.10/site-packages (from torch>=2.0.1->autoawq) (1.12)
Requirement already satisfied: networkx in /opt/conda/lib/python3.10/site-packages (from torch>=2.0.1->autoawq) (3.2.1)
Requirement already satisfied: jinja2 in /opt/conda/lib/python3.10/site-packages (from torch>=2.0.1->autoawq) (3.1.2)
Requirement already satisfied: psutil in /opt/conda/lib/python3.10/site-packages (from accelerate->autoawq) (5.9.3)
Requirement already satisfied: crcmod>=1.7 in /opt/conda/lib/python3.10/site-packages (from oss2->modelscope) (1.7)
Requirement already satisfied: pycryptodome>=3.4.7 in /opt/conda/lib/python3.10/site-packages (from oss2->modelscope) (3.20.0)
Collecting aliyun-python-sdk-kms>=2.4.1 (from oss2->modelscope)
  Downloading aliyun_python_sdk_kms-2.16.3-py2.py3-none-any.whl.metadata (1.5 kB)
Collecting aliyun-python-sdk-core>=2.13.12 (from oss2->modelscope)
  Downloading aliyun-python-sdk-core-2.15.1.tar.gz (443 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 443.1/443.1 kB 1.8 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas->modelscope) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.10/site-packages (from pandas->modelscope) (2023.4)
Requirement already satisfied: importlib-metadata>=6.6.0 in /opt/conda/lib/python3.10/site-packages (from yapf->modelscope) (6.11.0)
Requirement already satisfied: platformdirs>=3.5.1 in /opt/conda/lib/python3.10/site-packages (from yapf->modelscope) (4.2.0)
Requirement already satisfied: tomli>=2.0.1 in /opt/conda/lib/python3.10/site-packages (from yapf->modelscope) (2.0.1)
Collecting jmespath<1.0.0,>=0.9.3 (from aliyun-python-sdk-core>=2.13.12->oss2->modelscope)
  Downloading jmespath-0.10.0-py2.py3-none-any.whl.metadata (8.0 kB)
Requirement already satisfied: cryptography>=2.6.0 in /opt/conda/lib/python3.10/site-packages (from aliyun-python-sdk-core>=2.13.12->oss2->modelscope) (41.0.7)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/conda/lib/python3.10/site-packages (from aiohttp->datasets<2.19.0,>=2.16.0->modelscope) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in /opt/conda/lib/python3.10/site-packages (from aiohttp->datasets<2.19.0,>=2.16.0->modelscope) (1.9.3)
Requirement already satisfied: frozenlist>=1.1.1 in /opt/conda/lib/python3.10/site-packages (from aiohttp->datasets<2.19.0,>=2.16.0->modelscope) (1.4.1)
Requirement already satisfied: aiosignal>=1.1.2 in /opt/conda/lib/python3.10/site-packages (from aiohttp->datasets<2.19.0,>=2.16.0->modelscope) (1.3.1)
Requirement already satisfied: async-timeout<5.0,>=4.0 in /opt/conda/lib/python3.10/site-packages (from aiohttp->datasets<2.19.0,>=2.16.0->modelscope) (4.0.3)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.10/site-packages (from importlib-metadata>=6.6.0->yapf->modelscope) (3.17.0)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.10/site-packages (from jinja2->torch>=2.0.1->autoawq) (2.1.3)
Requirement already satisfied: mpmath>=0.19 in /opt/conda/lib/python3.10/site-packages (from sympy->torch>=2.0.1->autoawq) (1.3.0)
Requirement already satisfied: cffi>=1.12 in /opt/conda/lib/python3.10/site-packages (from cryptography>=2.6.0->aliyun-python-sdk-core>=2.13.12->oss2->modelscope) (1.16.0)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.10/site-packages (from cffi>=1.12->cryptography>=2.6.0->aliyun-python-sdk-core>=2.13.12->oss2->modelscope) (2.21)
Downloading modelscope-1.14.0-py3-none-any.whl (5.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.7/5.7 MB 2.4 MB/s eta 0:00:0000:0100:01
Downloading transformers-4.41.1-py3-none-any.whl (9.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.1/9.1 MB 3.6 MB/s eta 0:00:0000:0100:01
Downloading autoawq-0.2.5-cp310-cp310-manylinux2014_x86_64.whl (84 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 84.3/84.3 kB 3.5 MB/s eta 0:00:00
Downloading huggingface_hub-0.23.2-py3-none-any.whl (401 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 401.7/401.7 kB 3.9 MB/s eta 0:00:00a 0:00:01
Downloading tokenizers-0.19.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.6/3.6 MB 4.5 MB/s eta 0:00:0000:0100:01
Downloading addict-2.4.0-py3-none-any.whl (3.8 kB)
Downloading autoawq_kernels-0.0.6-cp310-cp310-manylinux2014_x86_64.whl (33.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 33.4/33.4 MB 1.7 MB/s eta 0:00:0000:0100:01
Downloading einops-0.8.0-py3-none-any.whl (43 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.2/43.2 kB 1.5 MB/s eta 0:00:00
Downloading aliyun_python_sdk_kms-2.16.3-py2.py3-none-any.whl (98 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.1/98.1 kB 1.5 MB/s eta 0:00:00a 0:00:01
Downloading jmespath-0.10.0-py2.py3-none-any.whl (24 kB)
Building wheels for collected packages: oss2, aliyun-python-sdk-core
  Building wheel for oss2 (setup.py) ... done
  Created wheel for oss2: filename=oss2-2.18.5-py3-none-any.whl size=118146 sha256=bd1b03fe6db671bcce04a6c0f92d1fb8a4c05fddf687448b8adfd8b9ee757088
  Stored in directory: /root/.cache/pip/wheels/c5/ec/94/a908b823ad209d91fb3cb809c0553032e496dd3d36218e4596
  Building wheel for aliyun-python-sdk-core (setup.py) ... done
  Created wheel for aliyun-python-sdk-core: filename=aliyun_python_sdk_core-2.15.1-py3-none-any.whl size=535325 sha256=6a358970b129c78bfba5250fc875e2a4891bd9ff7af2669fb199de5cf5289bb6
  Stored in directory: /root/.cache/pip/wheels/69/4b/8e/0a28e00f4cf43b273c18cce083804738d41013e017da922ce4
Successfully built oss2 aliyun-python-sdk-core
Installing collected packages: addict, jmespath, einops, huggingface-hub, tokenizers, autoawq-kernels, aliyun-python-sdk-core, transformers, aliyun-python-sdk-kms, oss2, autoawq, modelscope
  Attempting uninstall: jmespath
    Found existing installation: jmespath 1.0.1
    Uninstalling jmespath-1.0.1:
      Successfully uninstalled jmespath-1.0.1
  Attempting uninstall: huggingface-hub
    Found existing installation: huggingface-hub 0.22.2
    Uninstalling huggingface-hub-0.22.2:
      Successfully uninstalled huggingface-hub-0.22.2
  Attempting uninstall: tokenizers
    Found existing installation: tokenizers 0.15.2
    Uninstalling tokenizers-0.15.2:
      Successfully uninstalled tokenizers-0.15.2
  Attempting uninstall: transformers
    Found existing installation: transformers 4.39.3
    Uninstalling transformers-4.39.3:
      Successfully uninstalled transformers-4.39.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
boto3 1.26.100 requires botocore<1.30.0,>=1.29.100, but you have botocore 1.34.69 which is incompatible.
Successfully installed addict-2.4.0 aliyun-python-sdk-core-2.15.1 aliyun-python-sdk-kms-2.16.3 autoawq-0.2.5 autoawq-kernels-0.0.6 einops-0.8.0 huggingface-hub-0.23.2 jmespath-0.10.0 modelscope-1.14.0 oss2-2.18.5 tokenizers-0.19.1 transformers-4.41.1

In [3]:
import torch
from modelscope import AutoModelForCausalLM, AutoTokenizer
model = AutoModelForCausalLM.from_pretrained("qwen/CodeQwen1.5-7B-Chat", torch_dtype=torch.float16, device_map="auto")
tokenizer = AutoTokenizer.from_pretrained("qwen/CodeQwen1.5-7B-Chat-AWQ")

2024-05-30 17:57:41,820 - modelscope - INFO - PyTorch version 2.1.2 Found.
2024-05-30 17:57:41,826 - modelscope - INFO - TensorFlow version 2.15.0 Found.
2024-05-30 17:57:41,826 - modelscope - INFO - Loading ast index from /root/.cache/modelscope/ast_indexer
2024-05-30 17:57:41,827 - modelscope - INFO - No valid ast index found from /root/.cache/modelscope/ast_indexer, generating ast index from prebuilt!
2024-05-30 17:57:41,915 - modelscope - INFO - Loading done! Current index file version is 1.14.0, with md5 8a712080eec20689ca3811942b41dc36 and a total number of 976 components indexed
2024-05-30 17:57:45.153664: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-05-30 17:57:45.153795: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-05-30 17:57:45.279994: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
Downloading: 100%|██████████| 701/701 [00:00<00:00, 1.34MB/s]
Downloading: 100%|██████████| 73.0/73.0 [00:00<00:00, 330kB/s]
Downloading: 100%|██████████| 212/212 [00:00<00:00, 784kB/s]
Downloading: 100%|██████████| 6.73k/6.73k [00:00<00:00, 13.2MB/s]
Downloading: 100%|█████████▉| 3.63G/3.63G [00:25<00:00, 150MB/s]
Downloading: 100%|█████████▉| 3.68G/3.68G [00:28<00:00, 136MB/s]
Downloading: 100%|█████████▉| 3.68G/3.68G [00:27<00:00, 143MB/s]
Downloading: 100%|█████████▉| 2.52G/2.52G [00:25<00:00, 106MB/s]
Downloading: 100%|██████████| 31.0k/31.0k [00:00<00:00, 827kB/s]
Downloading: 100%|██████████| 3.43k/3.43k [00:00<00:00, 14.6MB/s]
Downloading: 100%|██████████| 4.26M/4.26M [00:00<00:00, 11.9MB/s]
Downloading: 100%|██████████| 1.36M/1.36M [00:00<00:00, 4.90MB/s]
Downloading: 100%|██████████| 972/972 [00:00<00:00, 4.52MB/s]

Loading checkpoint shards:   0%|          | 0/4 [00:00<?, ?it/s]

Downloading: 100%|██████████| 879/879 [00:00<00:00, 4.49MB/s]
Downloading: 100%|██████████| 73.0/73.0 [00:00<00:00, 296kB/s]
Downloading: 100%|██████████| 161/161 [00:00<00:00, 915kB/s]
Downloading: 100%|██████████| 6.73k/6.73k [00:00<00:00, 17.9MB/s]
Downloading: 100%|██████████| 3.50k/3.50k [00:00<00:00, 17.0MB/s]
Downloading: 100%|██████████| 4.26M/4.26M [00:00<00:00, 10.8MB/s]
Downloading: 100%|██████████| 1.36M/1.36M [00:00<00:00, 4.85MB/s]
Downloading: 100%|██████████| 972/972 [00:00<00:00, 4.61MB/s]

In [4]:
prompt = "Write a sql query for finding all the manager that earns less than its employee. We have two tables employee and manager. The manager has salary column and the employee table has managerid, salary column."
messages = [
    {"role": "system", "content": "You are a helpful assistant."},
    {"role": "user", "content": prompt}
]
text = tokenizer.apply_chat_template(messages, tokenize=False, add_generation_prompt=True)
model_inputs = tokenizer([text], return_tensors="pt").to("cuda" )
generated_ids = model.generate(model_inputs.input_ids, max_new_tokens=512)
generated_ids = [output_ids[len(input_ids):] for input_ids, output_ids in zip(model_inputs.input_ids, generated_ids)]
response = tokenizer.batch_decode(generated_ids, skip_special_tokens=True)[0]
print(response)

Assuming that the `managerid` in the `employee` table refers to the `id` in the `manager` table, you can find all the managers who earn less than their employees like so:

```SQL
SELECT m.name, m.salary AS manager_salary
FROM manager m
JOIN employee e ON m.id = e.managerid
WHERE m.salary < e.salary;
```

Here, `m.name` refers to the name of the manager, `m.salary` is the salary of the manager, `e.salary` is the salary of the employee, and `e.managerid` is the id of the manager of the employee.

Please note that you should replace `manager.name` with the actual column name that holds the manager's name in your database. And also please verify if `id` and `managerid` are primary and foreign key in your table, if not replace those with appropriate primary and foreign key fields.

If you also want to display the employees who work under them (using manager id), you can make a recursive query, but it would be quite complex.

This is a basic join query in SQL. But please make sure to understand the SQL join types (INNER, LEFT, RIGHT, FULL) according to your requirements.

In [6]:
import re
def reduce_inserts(schema):
    """Reduce INSERT statements in the schema to a maximum of 2 per table."""
    create_table_pattern = re.compile(r'(CREATE TABLE.*?;)', re.S)
    insert_pattern = re.compile(r'(INSERT INTO.*?;)', re.S)
    
    tables = create_table_pattern.split(schema)
    new_schema = ""
    
    for i in range(len(tables)):
        if 'CREATE TABLE' in tables[i]:
            new_schema += tables[i]
            # Find all inserts after the current table declaration
            inserts = insert_pattern.findall(tables[i+1])
            limited_inserts = inserts[:2]  # Limit to 2 insert statements
            new_schema += '\n'.join(limited_inserts).strip() + '\n'
            # Remove the handled inserts from the next segment
            tables[i+1] = insert_pattern.sub('', tables[i+1], count=len(inserts)).strip()
        else:
            new_schema += tables[i].strip() + '\n'
    
    # Remove any multiple consecutive newlines
    new_schema = re.sub(r'\n+', '\n', new_schema)
    
    return new_schema

In [9]:
print(spider_data[0])

{'question': 'How many clubs are there?', 'knowledge': {'club': {'columns': ['Club_ID'], 'aggregation': 'COUNT', 'derivation': "Count the number of rows in the 'club' table."}}, 'label': 'simple', 'steps': ["Count the number of rows in the 'club' table."], 'db_id': 'soccer_3', 'id': 0}

In [8]:
import json

def read_schema(file_path):
    """Read the schema file and return its contents."""
    with open(file_path, 'r') as f:
        schema = f.read()
    return schema

def create_prompt(entry, schema,knowledge):
    """Create a query generation prompt using the database schema and the question."""
    question = entry['question']
    prompt = f"Database Schema:\n{schema}\n\nQuestion:\n{question}\n Additional Information:\n{knowledge} \n Instruction: Generate the SQL query only avoid any description \n\nSQL Query:"
    return prompt

# Load the Spider dataset
with open('/kaggle/input/spider/spider_data_with_knowledge.json') as f:
    spider_data = json.load(f)

# Example of processing the first entry
first_entry = spider_data[30]
db_id = first_entry['db_id']
schema_file_path = f'/kaggle/input/spider/spider/test_database/{db_id}/schema.sql'

# Read the database schema
schema = read_schema(schema_file_path)
processed_schema = reduce_inserts(schema)
# Create the prompt
prompt = create_prompt(first_entry, processed_schema,first_entry)
print(prompt)

Database Schema:
PRAGMA foreign_keys = ON;
CREATE TABLE "club" (
"Club_ID" int,
"Name" text,
"Manager" text,
"Captain" text,
"Manufacturer" text,
"Sponsor" text,
PRIMARY KEY ("Club_ID")
);
CREATE TABLE "player" (
"Player_ID" real,
"Name" text,
"Country" text,
"Earnings" real,
"Events_number" int,
"Wins_count" int,
"Club_ID" int,
PRIMARY KEY ("Player_ID"),
FOREIGN KEY ("Club_ID") REFERENCES "club"("Club_ID")
);INSERT INTO  "club" VALUES (1,"Arsenal","Arsène Wenger","Cesc Fàbregas","Nike","Fly Emirates");
INSERT INTO  "club" VALUES (2,"Aston Villa","Martin O'Neill","Martin Laursen","Nike","Acorns");


Question:
List the country that have more than one player.
 Additional Information:
{'question': 'List the country that have more than one player.', 'knowledge': {'player': {'Country': 'text'}}, 'label': 'simple', 'steps': ['Count the number of players from each country.', 'Filter out countries with more than one player.'], 'db_id': 'soccer_3', 'id': 30}
 Instruction: Generate the SQL query only avoid any description

SQL Query:

In [10]:
def generate_sql_query(entry, schema_file_path, model, tokenizer, device="cuda"):
    """Generate a SQL query from the prompt using the language model."""
    # Read the database schema
    schema = read_schema(schema_file_path)
    processed_schema = reduce_inserts(schema)
    # Create the prompt
    prompt = create_prompt(entry, processed_schema,entry)

    # Create the messages for the model
    messages = [
        {"role": "system", "content": "You are a helpful assistant."},
        {"role": "user", "content": prompt}
    ]

    # Apply chat template
    text = tokenizer.apply_chat_template(
        messages,
        tokenize=False,
        add_generation_prompt=True
    )

    # Tokenize the input
    model_inputs = tokenizer([text], return_tensors="pt").to(device)

    # Generate the SQL query
    generated_ids = model.generate(
        model_inputs.input_ids,
        max_new_tokens=512
    )

    # Extract the generated tokens
    generated_ids = [
        output_ids[len(input_ids):] for input_ids, output_ids in zip(model_inputs.input_ids, generated_ids)
    ]

    # Decode the response
    response = tokenizer.batch_decode(generated_ids, skip_special_tokens=True)[0]

    return response

# Example of processing the first entry
first_entry = spider_data[30]
db_id = first_entry['db_id']
# schema_file_path = f'/content/drive/MyDrive/UNIVERSITY/Semester 8/nlp/spider/database/{db_id}/schema.sql'
schema_file_path = f'/kaggle/input/spider/spider/test_database/{db_id}/schema.sql'


# Generate the SQL query
generated_sql = generate_sql_query(first_entry, schema_file_path, model, tokenizer, device = "cuda")
print(generated_sql)

SELECT Country FROM player GROUP BY Country HAVING COUNT(*) > 1

In [11]:
output_dir = '/kaggle/working'

# Ensure the output directory exists
os.makedirs(output_dir, exist_ok=True)

# Define the output file path
output_file_path = os.path.join(output_dir, 'test_spider_with_generated_sql.json')

In [14]:
import json
from transformers import AutoTokenizer, AutoModelForCausalLM
import torch
from math import ceil

device="cuda"
def process_spider_data_in_batches(spider_data, schema_base_path, model, tokenizer, device, output_file, batch_size=10):
    """Process entries in spider_data in batches, generate SQL queries, and save incrementally."""
    updated_data = []
    total_entries = len(spider_data)
    total_batches = ceil(total_entries / batch_size)
    for batch_idx in range(total_batches):
        batch_start = batch_idx * batch_size
        batch_end = min(batch_start + batch_size, total_entries)
        batch = spider_data[batch_start:batch_end]
#         if batch_idx<4:
#             print(batch_idx)
#             continue;
        for idx, entry in enumerate(batch, start=batch_start + 1):
            db_id = entry['db_id']
            schema_file_path = f'{schema_base_path}/{db_id}/schema.sql'

            # Generate the SQL query
            generated_sql = generate_sql_query(entry, schema_file_path, model, tokenizer, device)
            print(f"Generated SQL for entry {idx}: {generated_sql}")

            # Add the generated SQL to the entry
            cleaned_sql = generated_sql.replace('\n', ' ').replace('\t', ' ')
            entry['generated_sql'] = cleaned_sql
            updated_data.append(entry)
        # Save the updated data incrementally
        with open(output_file, 'w') as f:
            json.dump(updated_data, f, indent=4)

        print(f"Processed batch {batch_idx + 1}/{total_batches}")


# Process the data and save the results
schema_file_path = f'/kaggle/input/spider/spider/test_database'
output_file = '/kaggle/working/test_spider_with_generated_sql.json'
process_spider_data_in_batches(spider_data, schema_file_path, model, tokenizer, device, output_file)

Generated SQL for entry 1: SELECT COUNT(*) FROM club
Generated SQL for entry 2: SELECT COUNT(*) FROM club
Generated SQL for entry 3: SELECT Name FROM club ORDER BY Name ASC
Generated SQL for entry 4: SELECT Name FROM club ORDER BY Name ASC
Generated SQL for entry 5: SELECT Manager, Captain FROM club
Generated SQL for entry 6: SELECT Manager, Captain FROM club
Generated SQL for entry 7: SELECT Name FROM club WHERE Manufacturer != 'Nike'
Generated SQL for entry 8: SELECT Name FROM club WHERE Manufacturer <> 'Nike'
Generated SQL for entry 9: SELECT Name FROM player ORDER BY Wins_count ASC
Generated SQL for entry 10: SELECT Name FROM player ORDER BY Wins_count ASC
Processed batch 1/21
Generated SQL for entry 11: SELECT Name FROM player ORDER BY Earnings DESC LIMIT 1
Generated SQL for entry 12: SELECT Name FROM player WHERE Earnings = (SELECT max(Earnings) FROM player);
Generated SQL for entry 13: SELECT DISTINCT Country FROM player WHERE Earnings > 1200000
Generated SQL for entry 14: SELECT DISTINCT T2.Country FROM player AS T1 JOIN club AS T2 ON T1.Club_ID  =  T2.Club_ID WHERE T1.Earnings  >  1200000
Generated SQL for entry 15: SELECT T2.Country FROM player AS T1 JOIN club AS T2 ON T1.Club_ID  =  T2.Club_ID WHERE T1.Wins_count > 2 ORDER BY T1.Earnings DESC LIMIT 1
Generated SQL for entry 16: SELECT Country FROM player WHERE Wins_count > 2 ORDER BY Earnings DESC LIMIT 1
Generated SQL for entry 17: SELECT player.Name, club.Name FROM player INNER JOIN club ON player.Club_ID = club.Club_ID
Generated SQL for entry 18: SELECT T2.Name, T1.Name FROM player AS T1 JOIN club AS T2 ON T1.Club_ID  =  T2.Club_ID
Generated SQL for entry 19: SELECT T3.Name FROM player AS T1 JOIN club AS T2 ON T1.Club_ID  =  T2.Club_ID JOIN club AS T3 ON T1.Club_ID  =  T3.Club_ID WHERE T1.Wins_count > 2
Generated SQL for entry 20: SELECT DISTINCT c.Name
FROM club c
JOIN player p ON c.Club_ID = p.Club_ID
WHERE p.Wins_count > 2
Processed batch 2/21
Generated SQL for entry 21: SELECT Name FROM player WHERE Club_ID = (SELECT Club_ID FROM club WHERE Manager = 'Sam Allardyce')
Generated SQL for entry 22: SELECT Name FROM player WHERE Club_ID = (SELECT Club_ID FROM club WHERE Manager = 'Sam Allardyce')
Generated SQL for entry 23: SELECT T3.name
FROM player AS T1
INNER JOIN club AS T2
ON T1.club_id = T2.club_id
INNER JOIN club AS T3
ON T2.club_id = T3.club_id
GROUP BY T3.name
ORDER BY AVG(T1.earnings) DESC
Generated SQL for entry 24: SELECT club.Name, AVG(player.Earnings) AS Average_Earnings FROM club JOIN player ON club.Club_ID = player.Club_ID GROUP BY club.Name ORDER BY Average_Earnings DESC;
Generated SQL for entry 25: SELECT Manufacturer, COUNT(*) FROM club GROUP BY Manufacturer
Generated SQL for entry 26: SELECT COUNT(*), Manufacturer FROM club GROUP BY Manufacturer
Generated SQL for entry 27: SELECT Manufacturer, COUNT(*) AS Total FROM club GROUP BY Manufacturer ORDER BY Total DESC LIMIT 1
Generated SQL for entry 28: SELECT Manufacturer FROM club GROUP BY Manufacturer ORDER BY COUNT(*) DESC LIMIT 1
Generated SQL for entry 29: SELECT Manufacturer FROM club GROUP BY Manufacturer HAVING COUNT(*) > 1
Generated SQL for entry 30: SELECT manufacturer FROM club GROUP BY manufacturer HAVING COUNT(club_id) > 1
Processed batch 3/21
Generated SQL for entry 31: SELECT Country FROM player GROUP BY Country HAVING COUNT(*) > 1
Generated SQL for entry 32: SELECT Country FROM player GROUP BY Country HAVING COUNT(*) > 1
Generated SQL for entry 33: SELECT Name FROM club WHERE Club_ID NOT IN (SELECT Club_ID FROM player)
Generated SQL for entry 34: SELECT Name FROM club WHERE Club_ID NOT IN (SELECT Club_ID FROM player)
Generated SQL for entry 35: SELECT T1.Country FROM player AS T1 INNER JOIN club AS T2 ON T1.Club_ID = T2.Club_ID WHERE T1.Earnings  >  1400000 UNION SELECT T1.Country FROM player AS T1 INNER JOIN club AS T2 ON T1.Club_ID = T2.Club_ID WHERE T1.Earnings  <  1100000
Generated SQL for entry 36: SELECT T1.Country FROM player AS T1 INNER JOIN club AS T2 ON T1.Club_ID = T2.Club_ID WHERE T1.Earnings > 1400000 INTERSECT SELECT T1.Country FROM player AS T1 INNER JOIN club AS T2 ON T1.Club_ID = T2.Club_ID WHERE T1.Earnings < 1100000
Generated SQL for entry 37: SELECT COUNT(DISTINCT Country) FROM player
Generated SQL for entry 38: SELECT count(DISTINCT Country) FROM player
Generated SQL for entry 39: SELECT T3.Earnings FROM club AS T1 JOIN player AS T2 ON T1.Club_ID = T2.Club_ID JOIN player AS T3 ON T3.Country = 'Australia' OR T3.Country = 'Zimbabwe'
Generated SQL for entry 40: SELECT Name, Earnings FROM player WHERE Country IN ('Australia', 'Zimbabwe')
Processed batch 4/21
Generated SQL for entry 41: SELECT DISTINCT C.customer_id ,  C.customer_first_name ,  C.customer_last_name FROM Customers C INNER JOIN Orders O ON C.customer_id = O.customer_id INNER JOIN Order_Items OI ON O.order_id = OI.order_id WHERE ( SELECT COUNT(DISTINCT O2.order_id) FROM Orders O2 INNER JOIN Order_Items OI2 ON O2.order_id = OI2.order_id WHERE O2.customer_id = C.customer_id ) > 2 AND ( SELECT COUNT(DISTINCT OI3.order_item_id) FROM Order_Items OI3 WHERE OI3.order_id IN ( SELECT O3.order_id FROM Orders O3 WHERE O3.customer_id = C.customer_id ) ) >= 3
Generated SQL for entry 42: SELECT DISTINCT Customers.customer_id ,  Customers.customer_first_name ,  Customers.customer_last_name FROM Customers INNER JOIN Orders ON Customers.customer_id = Orders.customer_id INNER JOIN Order_Items ON Orders.order_id = Order_Items.order_id GROUP BY Customers.customer_id, Customers.customer_first_name, Customers.customer_last_name HAVING COUNT(DISTINCT Orders.order_id) > 2 AND COUNT(DISTINCT Order_Items.order_item_id) >= 3
Generated SQL for entry 43: SELECT Orders.order_id, Orders.order_status_code, COUNT(Order_Items.product_id) AS num_products FROM Orders LEFT JOIN Order_Items ON Orders.order_id = Order_Items.order_id GROUP BY Orders.order_id, Orders.order_status_code
Generated SQL for entry 44: SELECT T2.order_status_code, T2.order_id, COUNT(T1.product_id) AS num_products FROM Order_Items AS T1 INNER JOIN Orders AS T2 ON T2.order_id = T1.order_id GROUP BY T2.order_id, T2.order_status_code
Generated SQL for entry 45: SELECT date_order_placed FROM Orders WHERE date_order_placed = (SELECT MIN(date_order_placed) FROM Orders) OR COUNT(order_item_id) > 1
Generated SQL for entry 46: SELECT T1.date_order_placed FROM Orders AS T1 JOIN Order_Items AS T2 ON T1.order_id = T2.order_id WHERE T1.date_order_placed = ( SELECT MIN(date_order_placed) FROM Orders ) OR COUNT(T2.order_item_id) > 1 GROUP BY T1.order_id
Generated SQL for entry 47: SELECT customer_first_name, customer_middle_initial, customer_last_name FROM Customers WHERE customer_id NOT IN (SELECT customer_id FROM Orders)
Generated SQL for entry 48: SELECT customer_first_name, customer_middle_initial, customer_last_name FROM Customers WHERE customer_id NOT IN (SELECT customer_id FROM Orders)
Generated SQL for entry 49: SELECT Products.product_id, Products.product_name, Products.product_price, Products.product_color FROM Products LEFT JOIN Order_Items ON Products.product_id = Order_Items.product_id WHERE Order_Items.product_id IS NULL
Generated SQL for entry 50: SELECT Products.product_id, Products.product_name, Products.product_price, Products.product_color FROM Products LEFT JOIN Order_Items ON Products.product_id = Order_Items.product_id GROUP BY Products.product_id HAVING COUNT(Order_Items.order_id) < 2
Processed batch 5/21
Generated SQL for entry 51: SELECT T1.order_id ,  T1.date_order_placed FROM Orders AS T1 JOIN Order_Items AS T2 ON T1.order_id = T2.order_id GROUP BY T1.order_id ,  T1.date_order_placed HAVING COUNT(T2.product_id) >= 2
Generated SQL for entry 52: SELECT Orders.order_id, Orders.date_order_placed FROM Orders INNER JOIN Order_Items ON Orders.order_id = Order_Items.order_id GROUP BY Orders.order_id, Orders.date_order_placed HAVING COUNT(Order_Items.product_id) >= 2
Generated SQL for entry 53: SELECT Products.product_id, Products.product_name, Products.product_price FROM Products INNER JOIN Order_Items ON Products.product_id = Order_Items.product_id GROUP BY Products.product_id, Products.product_name, Products.product_price ORDER BY COUNT(*) DESC LIMIT 1
Generated SQL for entry 54: SELECT Products.product_id ,  Products.product_name ,  Products.product_price FROM Products JOIN Order_Items ON Products.product_id = Order_Items.product_id GROUP BY Products.product_id, Products.product_name, Products.product_price ORDER BY COUNT(*) DESC
Generated SQL for entry 55: SELECT Orders.order_id, SUM(Products.product_price) AS total_price FROM Orders INNER JOIN Order_Items ON Orders.order_id = Order_Items.order_id INNER JOIN Products ON Order_Items.product_id = Products.product_id GROUP BY Orders.order_id ORDER BY total_price ASC LIMIT 1
Generated SQL for entry 56: SELECT Orders.order_id, SUM(Products.product_price) AS total_cost FROM Orders JOIN Order_Items ON Orders.order_id = Order_Items.order_id JOIN Products ON Order_Items.product_id = Products.product_id GROUP BY Orders.order_id ORDER BY total_cost ASC LIMIT 1
Generated SQL for entry 57: SELECT payment_method_code FROM Customer_Payment_Methods GROUP BY payment_method_code ORDER BY COUNT(*) DESC LIMIT 1
Generated SQL for entry 58: SELECT payment_method_code
FROM Customer_Payment_Methods
GROUP BY payment_method_code
ORDER BY COUNT(DISTINCT customer_id) DESC
LIMIT 1;
Generated SQL for entry 59: SELECT Customers.gender_code, COUNT(DISTINCT Order_Items.product_id) AS product_count FROM Customers INNER JOIN Orders ON Customers.customer_id = Orders.customer_id INNER JOIN Order_Items ON Orders.order_id = Order_Items.order_id GROUP BY Customers.gender_code
Generated SQL for entry 60: SELECT T1.gender_code ,  COUNT(T3.order_item_id) FROM Customers AS T1 INNER JOIN Orders AS T2 ON T1.customer_id = T2.customer_id INNER JOIN Order_Items AS T3 ON T2.order_id = T3.order_id GROUP BY T1.gender_code
Processed batch 6/21
Generated SQL for entry 61: SELECT customer_id ,  gender_code ,  COUNT(*) FROM Customers AS t1 JOIN Orders AS t2 ON t1.customer_id = t2.customer_id GROUP BY gender_code
Generated SQL for entry 62: SELECT T1.gender_code, count(T2.order_id) FROM Customers AS T1 JOIN Orders AS T2 ON T1.customer_id  =  T2.customer_id GROUP BY T1.gender_code
Generated SQL for entry 63: SELECT T1.customer_first_name, T1.customer_middle_initial, T1.customer_last_name, T2.payment_method_code FROM Customers AS T1 JOIN Customer_Payment_Methods AS T2 ON T1.customer_id = T2.customer_id
Generated SQL for entry 64: SELECT c.customer_first_name, c.customer_middle_initial, c.customer_last_name, cp.payment_method_code FROM Customers AS c JOIN Customer_Payment_Methods AS cp ON c.customer_id = cp.customer_id
Generated SQL for entry 65: SELECT T1.invoice_status_code, T1.invoice_date, T2.shipment_date FROM INvoices AS T1 INNER JOIN Shipments AS T2 ON T1.invoice_number = T2.invoice_number
Generated SQL for entry 66: SELECT T1.invoice_status_code, T1.invoice_date, T2.shipment_date FROM Invoices AS T1 JOIN Shipments AS T2 ON T1.invoice_number  =  T2.invoice_number
Generated SQL for entry 67: SELECT p.product_name, s.shipment_date FROM Products p JOIN Shipments s ON p.product_id = s.order_item_id
Generated SQL for entry 68: SELECT p.product_name, s.shipment_date FROM Products p JOIN Shipments s ON p.product_id = s.product_id
Generated SQL for entry 69: SELECT T1.order_item_status_code, T3.shipment_tracking_number FROM Order_Items AS T1 INNER JOIN Orders AS T2 ON T1.order_id = T2.order_id INNER JOIN Shipment_Items AS T4 ON T1.order_item_id = T4.order_item_id INNER JOIN Shipments AS T3 ON T4.shipment_id = T3.shipment_id
Generated SQL for entry 70: SELECT T1.order_status_code, T2.order_item_status_code, T3.shipment_tracking_number FROM Orders AS T1 INNER JOIN Order_Items AS T2 ON T1.order_id = T2.order_id INNER JOIN Shipment_Items AS T4 ON T2.order_item_id = T4.order_item_id INNER JOIN Shipments AS T3 ON T4.shipment_id = T3.shipment_id
Processed batch 7/21
Generated SQL for entry 71: SELECT T1.product_name, T1.product_color FROM Products AS T1 JOIN Order_Items AS T2 ON T1.product_id = T2.product_id JOIN Shipments AS T3 ON T2.order_id = T3.order_id
Generated SQL for entry 72: SELECT T3.product_name, T3.product_color FROM Shipments AS T1 JOIN Shipment_Items AS T2 ON T1.shipment_id = T2.shipment_id JOIN Order_Items AS T3 ON T2.order_item_id = T3.order_item_id
Generated SQL for entry 73: SELECT DISTINCT T1.product_name, T1.product_price, T1.product_description FROM Products AS T1 JOIN Order_Items AS T2 ON T1.product_id  =  T2.product_id JOIN Orders AS T3 ON T3.order_id  =  T2.order_id JOIN Customers AS T4 ON T4.customer_id  =  T3.customer_id WHERE T4.gender_code  =  'Female'
Generated SQL for entry 74: SELECT P.product_name, P.product_price, P.product_description FROM Products AS P JOIN Orders AS O ON P.product_id = O.order_id JOIN Customers AS C ON O.customer_id = C.customer_id WHERE C.gender_code = 'Female'
Generated SQL for entry 75: SELECT `invoice_status_code` FROM `invoices` WHERE `invoice_number` NOT IN (SELECT `invoice_number` FROM `shipments`)
Generated SQL for entry 76: SELECT T1.invoice_status_code FROM Invoices AS T1 INNER JOIN Orders AS T2 ON T1.invoice_number  =  T2.invoice_number WHERE T2.order_id NOT IN (SELECT T2.order_id FROM Shipments AS T2 INNER JOIN Order_Items AS T3 ON T2.order_item_id  =  T3.order_item_id)
Generated SQL for entry 77: SELECT Orders.order_id, Orders.date_order_placed, SUM(Products.product_price) AS total_cost FROM Orders INNER JOIN Order_Items ON Orders.order_id = Order_Items.order_id INNER JOIN Products ON Order_Items.product_id = Products.product_id GROUP BY Orders.order_id, Orders.date_order_placed
Generated SQL for entry 78: SELECT Orders.order_id, Orders.date_order_placed, SUM(Products.product_price) as total_amount_paid FROM Orders JOIN Invoices ON Orders.order_id = Invoices.invoice_number JOIN Order_Items ON Orders.order_id = Order_Items.order_id JOIN Products ON Order_Items.product_id = Products.product_id GROUP BY Orders.order_id
Generated SQL for entry 79: SELECT COUNT(DISTINCT `customer_id`) FROM `Orders`
Generated SQL for entry 80: SELECT COUNT(DISTINCT customer_id) FROM Orders
Processed batch 8/21
Generated SQL for entry 81: SELECT COUNT(DISTINCT order_item_status_code) FROM Orders AS T1 JOIN Order_Items AS T2 ON T1.order_id = T2.order_id
Generated SQL for entry 82: SELECT COUNT(DISTINCT order_item_status_code) FROM Order_Items
Generated SQL for entry 83: SELECT COUNT(DISTINCT payment_method_code) FROM Customer_Payment_Methods
Generated SQL for entry 84: SELECT COUNT(DISTINCT payment_method_code) FROM Customer_Payment_Methods
Generated SQL for entry 85: SELECT login_name, login_password FROM Customers WHERE phone_number LIKE '+12%'
Generated SQL for entry 86: SELECT login_name, login_password FROM Customers WHERE phone_number LIKE '+12%'
Generated SQL for entry 87: SELECT DISTINCT product_size FROM Products WHERE product_name LIKE '%Dell%'
Generated SQL for entry 88: SELECT product_size FROM Products WHERE product_name LIKE '%Dell%';
Generated SQL for entry 89: SELECT product_price, product_size FROM Products WHERE product_price > (SELECT AVG(product_price) FROM Products)
Generated SQL for entry 90: SELECT product_price ,  product_size FROM Products WHERE product_price  >  ( SELECT AVG(product_price) FROM Products )
Processed batch 9/21
Generated SQL for entry 91: SELECT COUNT(DISTINCT Products.product_id) AS unsold_product_count FROM Products LEFT JOIN Order_Items ON Products.product_id = Order_Items.product_id WHERE Order_Items.order_item_id IS NULL
Generated SQL for entry 92: SELECT COUNT(DISTINCT product_id) AS not_ordered_products FROM Products LEFT JOIN Order_Items ON Products.product_id = Order_Items.product_id WHERE order_item_id IS NULL
Generated SQL for entry 93: SELECT count(DISTINCT T2.customer_id) FROM Customers AS T1 LEFT JOIN Customer_Payment_Methods AS T2 ON T1.customer_id = T2.customer_id WHERE T2.payment_method_code IS NULL
Generated SQL for entry 94: SELECT COUNT(DISTINCT customer_id) FROM Customers LEFT JOIN Customer_Payment_Methods ON Customers.customer_id = Customer_Payment_Methods.customer_id WHERE payment_method_code IS NULL;
Generated SQL for entry 95: SELECT DISTINCT order_status_code ,  date_order_placed FROM Orders
Generated SQL for entry 96: SELECT order_status_code, date_order_placed FROM Orders
Generated SQL for entry 97: SELECT address_line_1, town_city, county FROM Customers WHERE country = 'USA'
Generated SQL for entry 98: SELECT address_line_1, town_city, county FROM Customers WHERE country = 'USA'
Generated SQL for entry 99: SELECT Customers.customer_first_name, Products.product_name FROM Customers INNER JOIN Orders ON Customers.customer_id = Orders.customer_id INNER JOIN Order_Items ON Orders.order_id = Order_Items.order_id INNER JOIN Products ON Order_Items.product_id = Products.product_id
Generated SQL for entry 100: SELECT t1.customer_first_name ,  t3.product_name FROM customers AS t1 INNER JOIN orders AS t2 ON t2.customer_id = t1.customer_id INNER JOIN order_items AS t3 ON t3.order_id = t2.order_id INNER JOIN products AS t4 ON t4.product_id = t3.product_id
Processed batch 10/21
Generated SQL for entry 101: SELECT COUNT(DISTINCT T1.shipment_id) FROM Shipment_Items AS T1 INNER JOIN Shipments AS T2 ON T1.shipment_id = T2.shipment_id
Generated SQL for entry 102: SELECT COUNT(DISTINCT T1.order_item_id) FROM Shipment_Items AS T1 INNER JOIN Order_Items AS T2 ON T1.order_item_id = T2.order_item_id INNER JOIN Products AS T3 ON T2.product_id = T3.product_id
Generated SQL for entry 103: SELECT AVG(product_price) AS avg_price FROM Products;
Generated SQL for entry 104: SELECT AVG(product_price) FROM Products
Generated SQL for entry 105: SELECT AVG(product_price) FROM Products;
Generated SQL for entry 106: SELECT avg(product_price) FROM Products AS t1 JOIN Order_Items AS t2 ON t1.product_id  =  t2.product_id
Generated SQL for entry 107: SELECT email_address ,  town_city ,  county FROM Customers GROUP BY gender_code ORDER BY COUNT(*) ASC LIMIT 1
Generated SQL for entry 108: SELECT DISTINCT T3.email_address, T3.town_city, T3.county FROM Customers AS T3 INNER JOIN Orders AS T4 ON T3.customer_id = T4.customer_id ORDER BY COUNT(T4.order_id) ASC LIMIT 1
Generated SQL for entry 109: SELECT T1.date_order_placed FROM Orders AS T1 JOIN Customers AS T2 ON T1.customer_id = T2.customer_id WHERE T2.customer_id IN ( SELECT customer_id FROM Customer_Payment_Methods GROUP BY customer_id HAVING count(*)  >=  2 )
Generated SQL for entry 110: SELECT T1.date_order_placed FROM Orders AS T1 JOIN Customers AS T2 ON T1.customer_id = T2.customer_id JOIN Customer_Payment_Methods AS T3 ON T2.customer_id = T3.customer_id GROUP BY T3.customer_id HAVING COUNT(*) >= 2
Processed batch 11/21
Generated SQL for entry 111: SELECT order_status_code FROM Orders GROUP BY order_status_code ORDER BY COUNT(*) DESC LIMIT 1;
Generated SQL for entry 112: SELECT order_status_code FROM Orders GROUP BY order_status_code ORDER BY COUNT(*) ASC LIMIT 1
Generated SQL for entry 113: SELECT `product_id` FROM `Order_Items` GROUP BY `product_id` HAVING count(`order_item_id`)  >  3
Generated SQL for entry 114: SELECT DISTINCT T1.product_id ,  T1.product_description FROM Products AS T1 JOIN Order_Items AS T2 ON T1.product_id  =  T2.product_id GROUP BY T1.product_id HAVING COUNT(*)  >  3
Generated SQL for entry 115: SELECT Invoice_date , Invoice_number FROM INVOICES WHERE Invoice_number IN (SELECT Invoice_number FROM Shipments GROUP BY Invoice_number HAVING COUNT(*) >= 2)
Generated SQL for entry 116: SELECT T2.invoice_date ,  T2.invoice_number FROM Shipments AS T1 JOIN Invoices AS T2 ON T2.invoice_number = T1.invoice_number GROUP BY T1.invoice_number HAVING COUNT(T1.invoice_number) >= 2
Generated SQL for entry 117: SELECT shipment_tracking_number, shipment_date FROM Shipments
Generated SQL for entry 118: SELECT shipment_tracking_number, shipment_date FROM Shipments;

In [17]:
import os
import subprocess
from IPython.display import FileLink, display
def download_file(path, download_file_name):
    os.chdir('/kaggle/working/')
    zip_name = f"/kaggle/working/{download_file_name}.zip"
    command = f"zip {zip_name} {path} -r"
    result = subprocess.run(command, shell=True, capture_output=True, text=True)
    if result.returncode != 0:
        print("Unable to run zip command!")
        print(result.stderr)
        return
    display(FileLink(f'{download_file_name}.zip'))

In [18]:
download_file('/kaggle/working/', 'out')

/kaggle/working/out.zip